button {
  font-family: "Poppins", sans-serif;
  padding: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background: linear-gradient(10deg, #2b2a55 0%, #00D4FF 100%);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 420px;
  background-color: #2b2a55;
  padding: 60px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.center-form input {
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  font-size: 15px;
}

.navButton  {
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  font-size: 15px;
}

.center-form h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.center-form button {
  width: 60%;
  align-self: center;
}

.container-register {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 120px;
}

.financial-summary{
    display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 100px;
}
